.bg-primary {
  background-color: #3498DB;
}

.bg-secondary {
  background-color: #2ECC71;
}

.bg-third {
  background-color: #11D000;
}

.d-flex {
  display: flex;

}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-center {
  justify-content: center;
}

.flex-column {
  flex-direction: column;
}

.align-items-center {
  justify-content: center;
}

@import '../header/header';
@import './product_item/product_item'