.sidebar {
    z-index: 400;
    position: fixed;
    top: 100px;
    width: 259px;
    height: 100vh;
    transition: left 250ms;
    -webkit-transform: left 250ms;
    border-right: 1px solid #C6C2C2;
    left: 0;

    .sidebar-options {
        // position: relative;
        // left: 41px;
        padding-left: 41px;

        p,
        label,
        select,
        option {
            margin: 0;
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 19px;
        }

        .filters {
            position: relative;
            margin-top: 73px;
            margin-bottom: 26px;

            .filters-title {
                position: relative;
                margin-bottom: 12px;
            }

            .filters-container {
                div {
                    input {
                        position: relative;
                        margin-right: 13px;
                    }
                }
            }
        }

        .prices {
            position: relative;
            margin-bottom: 26px;

            .prices-title {
                position: relative;
                margin-bottom: 12px;
            }

            .prices-container {
                div {
                    input {
                        position: relative;
                        margin-right: 13px;
                        margin-bottom: 14px;
                    }
                }
            }
        }

        .sortby {
            select {
                width: 175px;
            }
        }
    }

}

.sidebar-close {
    width: 0px !important;
    display: none;
}